body{
    margin: 0;
    padding: 0;
    /* background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000_5.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c1552a7bdc2ea7b6e17d8d0d893c15be); */
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: Century Gothic;

}
.box{
    width:320px;
    height: 480px;
    background-color:white;
    color: black;
    font-weight: bold;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding: 70px 30px;
    box-sizing: border-box;
    border-radius: 10px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.box input{
    width:100%;
    margin-bottom: 20px;
}
.box input[type="text"],input[type="password"],input[type="email"],input[type="phonenumber"]{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
    height: 40px;
    color:black;
    font-size: 16px;
}
.box input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color:  rgb(193, 153, 207);
    color: black;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.4s ease;
}
.box input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(193, 153, 207);
    color: #000;
}

.box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:black;
}
.box a:hover{
    color:rgb(193, 153, 207);
    
}
/* Dropdown Button */
.dropbtn {
    background-color: rgb(193, 153, 207);
    color: black;
    font-size: 16px;
    border: none;
    text-align: center;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 163px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  /* .dropdown-content a:hover {background-color: rgb(193, 153, 207);} */
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:  rgb(193, 153, 207)}

